body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  
}

.container {
  height: 100vh;
  width: 100%;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap {
  width: 40%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 10px;
}
.container_profile {
  height: 100vh;
  width: 100%;
  background-color: grey;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}